@charset "utf-8";
@font-face {
	font-family: PacMan;
	src: url("Font/crackman.front-regular.otf");
}
/* CSS Document */

/*INDEX*/
/*Navigationslinjen*/
.menubar{
	background-image: url("image/bannerbaggrund.png");
	background-size: 250px;
	background-repeat: repeat-x; 
	background-position: center;
	display: fixed;
	border-bottom: solid; 
	border-bottom-color: #FED800;
	border-bottom-width: 20px;
}

.logo {
	padding: 5px;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	position: relative;
	left: 700px;
	top: -75px;
}

.menu li {
	margin-right: 5px;
	
}

.menu img {
	width:150px;
	height: 100px;
	object-fit: contain;
}

.index {
	overflow: hidden; /* fjerner scroll-funktion */
}

/* Index */
.anniversary {
	position: relative;
	top: -136px;
	height:447px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	z-index: -1;
}

.anniversaryimg img {
	position: relative;
	width: 870px;
	left: 330px;
	z-index: -1;
}

.yellowline {
	
	position: relative;
	top: -145px;
	border-top: 20px solid #FED800; 
  	width: 100%; 
}

.footer {
	
	position: absolute;
	width: 100%;
	height: 180px;
	top: 597px;
	
	background: #FF0000;
	
}

.bandai img {
	
	position: relative;
	top: 20px;
	left: 600px;
	width: 20%;
}

.evolution img {
	
	position: relative;
	top: 30px;
	left: 620px;
	width: 17%;
}

/*Pac-Man & Friends */
.About {
	max-height: 100vh;
}

.AboutPacman {
	
	position: relative;
	top: -139px;
	height:600px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Pac-Man img {
	
	position: relative;
	top: 70px;
	left: 100px;
	width: 40%;
}

.PacmanStory {
	
	position: absolute;
	width: 500px;
	height: 500px;
	left: 800px;
	top: 60px;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;

}

.PacmanHeader {

	position: absolute;
	width: 470px;
	height: 92px;
	left: 80px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.PacmanStory .PacmanText {
	
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.ready {
	
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: center;
	font-family: tektur;
	font-size: 20px;
}

.AboutMsPacman {
	
	position: relative;
	top:-139px;
	height: 750px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.MsPac-Man img {
	position: relative;
	top: 50px;
	left: 730px;
	width: 40%;
}

.MsPacmanStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 100px;
	top: 60px;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.MsPacManHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 10px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.MsPacmanText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.AboutBlinky {
	position: relative;
	top:-139px;
	height: 750px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Blinky img{
	position: relative;
	top: 50px;
	left: 100px;
	width: 40%;
}

.BlinkyStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 800px;
	top: 60px;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.BlinkyHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.BlinkyText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.AboutPinky {
	position: relative;
	top:-139px;
	height: 750px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Pinky img {
	position: relative;
	top: 50px;
	left: 800px;
	width: 40%;
}

.PinkyStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 100px;
	top: 60px;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.PinkyHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.PinkyText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.AboutInky {
	position: relative;
	top:-139px;
	height: 750px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Inky img {
	position: relative;
	top: 50px;
	left: 100px;
	width: 40%;
}

.InkyStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 800px;
	top: 60px;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.InkyHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.InkyText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.AboutClyde {
	position: relative;
	top:-139px;
	height: 750px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Clyde img{
	position: relative;
	top: 50px;
	left: 800px;
	width: 40%;
}

.ClydeStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 100px;
	top: 60px;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.ClydeHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.ClydeText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.back-to-top {
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	background-color: #ffcc00; 
  	color: white;
  	padding: 10px 20px;
  	border-radius: 5px;
  	font-size: 16px;
	font-family: Tektur;
  	text-decoration: none;
  	display: none;
  	transition: opacity 0.3s;
}

.back-to-top:hover {
	background-color: #ff9900; /* Hover effect */
}

.Aboutfooter {
	
	position: relative;
	width: 100%;
	height: 180px;
	top: -139px;
	
	background: #FF0000;
	
}

.Aboutbandai img {
	
	position: relative;
	top: 20px;
	left: 600px;
	width: 20%;
}

.Aboutevolution img {
	
	position: relative;
	top: 30px;
	left: 620px;
	width: 17%;
}

.PlayPacman {
	position: relative;
	top: -139px;
	height:800px;
	
	background-color: black;
	background-size: cover;
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.PlayPicture {
	position: relative;
	top: 10px;
	left: 400px;
}

.PlayButton {
	 position: relative;
	width: 180px;
	height: 50px;
	top: -600px;
	left: 620px;
	
	background: black;
	border-style: double;
	border-color: #1818B5;
	border-radius: 7px;
	border-width: 13px;
	box-shadow: 0 0 20px #4C4CFF, 0 0 40px #4C4CFF, 0 0 60px #4C4CFF;
}

.PlayButton a:link {
  	position: relative;
	font-family: Pacman;
	font-size: 30px;
	color: yellow;
	text-align: center;
	top: 10px;
	left: 10px;
	text-decoration: none;
}

.PlayButton a:visited {
  	position: relative;
	font-family: Pacman;
	font-size: 30px;
	color: yellow;
	text-align: center;
	top: 10px;
	left: 10px;
	text-decoration: none;
}

.PlayButton a:hover {
	text-shadow: 0 0 10px #FFA500, 0 0 20px #FF8C00, 0 0 30px #FF4500;
}

.play {
	height: 100px;
}







