@charset "utf-8";
/* CSS Document */

/*INDEX*/
/*Navigationslinjen*/
.menubar{
	background-image: url("image/bannerbaggrund.png");
	background-size: 250px;
	background-repeat: repeat-x; 
	background-position: center;
	display: fixed;
	border-bottom: solid; 
	border-bottom-color: #FED800;
	border-bottom-width: 20px;
}

.logo {
	padding: 5px;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	position: relative;
	left: 700px;
	top: -75px;
}

.menu li {
	margin-right: 5px;
	
}

.menu img {
	width:150px;
	height: 100px;
	object-fit: contain;
}

.index {
	overflow: hidden;
}

.background {
	position: relative;
  	top: -950px;
  	left: 0;
  	width: 100%;
  	height: 100vh;
    background-image: url("image/homebaggrund.png");
    background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
    z-index: -2;
}

.anniversary {
	display: block;
	position: relative;
	top: -140px;
	left: 350px;
	margin: 0;
	padding: 0;
	z-index: -1;
}

.anniversary img {
	width: 870px;
}

.yellowline {
	position: relative;
	top: -145px;
	border-top: 20px solid #FED800; 
  	width: 100%; 
}

.footer {
	position: relative;
	top: -145px;
	border-top: 200px solid #FF0000; 
  	width: 100%; 
}

.bandai img {
	position: relative;
	top: -180px;
	left: 600px;
	width: 20%;
}

.evolution img {
	position: relative;
	top: -170px;
	left: 620px;
	width: 17%;
}