 @charset "utf-8";
@font-face {
	font-family: PacMan;
	src: url("Font/crackman.front-regular.otf");
}
/* CSS Document */

/*INDEX*/
/*Navigationslinjen*/
.menubar{
	background-image: url("image/bannerbaggrund.png");
	background-size: 250px;
	background-repeat: repeat-x; 
	background-position: center;
	display: fixed;
	border-bottom: solid; 
	border-bottom-color: #FED800;
	border-bottom-width: 1.5vw;
}

.logo img{
	position: relative;
	width: 23%;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	position: relative;
	width: 100%;
	left: 28%;
	top: -75px;
	overflow: visible;
}

.menu li {
	margin-right: 80px;
	
}

.menu img {
	width: 120%;
  	max-width: 250px;
	height: 100px;
	object-fit: contain;
}
.play-container {
    position: relative;
    display: inline-flex;
    width: 10vw; 
    height: 5vw; 
    min-width: 50px; 
    min-height: 50px; 
}

.default-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.hover-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.play-container:hover .default-play {
    opacity: 0; 
}

.play-container:hover .hover-play {
    opacity: 1; 
}

.about-container {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 5vw; 
    min-width: 50px; 
    min-height: 50px; 
}

.default-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.hover-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.about-container:hover .default-about {
    opacity: 0; 
}

.about-container:hover .hover-about {
    opacity: 1; 
}

.home-container {
    position: relative;
    display: inline-block;
    width: 10vw; 
    height: 5vw; 
    min-width: 50px; 
    min-height: 50px; 
}

.default-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.hover-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.home-container:hover .default-home {
    opacity: 0; 
}

.home-container:hover .hover-home {
    opacity: 1; 
}

.index {
	overflow: hidden; /* fjerner scroll-funktion */
}

/* Index */
.anniversary {
	position: relative;
	top: -136px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	z-index: -1;
	border-bottom: 1.5vw solid #FED800;
	
}

.anniversaryimg img {
	position: relative;
	width: 59%;
	left: 21%;
	z-index: -1;
}

.footer {
	position: relative;
	width: 100%;
	height: 180px;
	top:-136px;
	background: #FF0000;
}

.bandai img {
	position: relative;
	top: 20px;
	left: 40%;
	width: 20%;
}

.evolution img {
	
	position: relative;
	top: 30px;
	left: 42%;
	width: 17%;
}

/*If the screen size is 600px or less*/

@media (max-width: 480px){
	.index {
		overflow-y: scroll;
	}
	
	.menubar {
		background-size: 90%;
		height: 100px;
		border-bottom-width: 10px;
	}
	
	.logo img {
		width: 60%;
	}
	
	.menu {
		left: -3%;
	}
	
	.menu li {
		margin-right: 20%;
	}
	
	.menu img {
		width: 230%;
	}
	
	.anniversary img {
		width: 440px;
		left: 0;
	}
	
	.footer {
		height: 200px;
	}
	
	.bandai img {
		top: 30px;
		width: 70%;
		left: 16%;
	}
	
	.evolution img {
		left: 17%;
		width: 70%;
	}
}

@media (min-width:481px) and (max-width: 600px){
	
	html, body {
		height: 100%;
	}
	.index {
		overflow-y: scroll;
	}
	
	.menubar {
		border-bottom-width: 15px;
		height: 100px;
	}
	
	.logo img {
		width: 50%;
	}
	
	.menu {
		left: 7%;
	}
	
	.menu li {
		margin-right: 15%;
	}
	
	.menu img {
		width: 220%;
	}
	
	.anniversary {
		background-size: cover;
		height: 660px;
		border-bottom: 3vw solid #FED800 ;
	}
	
	.anniversary img {
		top: 20px;
		width: 100%;
		left: 0px;
	}
	
	
	.footer {
		height: 220px;
		top:-136px;
	}
	
	.bandai img{
		left: 14%;
		width: 70%;
	}
	
	.evolution img {
		left: 15%;
		width: 70%;
	}
	
	.Pac-Man {
		top: 120%;
		width: 140%;
		left: 20%;
	}
}


/*Pac-Man & Friends */
.About {
	max-height: 100vh;
}

/*Pac-Man Section */
.AboutPacman {
	
	position: relative;
	top: -139px;
	height:800px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Pac-Man img {
	
	position: relative;
	top: 70px;
	left: 10%;
	width: 40%;
}

.PacmanStory {
	
	position: absolute;
	width: 500px;
	height: 500px;
	left: 60%;
	top: 20%;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;

}

.PacmanHeader {

	position: absolute;
	width: 470px;
	height: 92px;
	left: 80px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.PacmanStory .PacmanText {
	
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

.ready {
	
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: center;
	font-family: tektur;
	font-size: 20px;
}

.PlayNow {
	position: relative;
	top: 90px;
	left: 113px;
	font-family: PacMan;
	font-size: 50px;
	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
	transition: transform 0.3s ease, color 0.3s ease;
}

.PlayNow:hover {
	transform: scale(2.2);
}

/*Ms. Pac-Man Section */
.AboutMsPacman {
	
	position: relative;
	top:-139px;
	height: 950px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.MsPac-Man img {
	position: relative;
	top: 50px;
	left: 50%;
	width: 40%;
}

.MsPacmanStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 20%;
	top: 20%;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.MsPacManHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 10px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.MsPacmanText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

/*Blinky Section */
.AboutBlinky {
	position: relative;
	top:-139px;
	height: 850px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Blinky img{
	position: relative;
	top: 70px;
	left: 10%;
	width: 40%;
}

.BlinkyStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 60%;
	top: 20%;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.BlinkyHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.BlinkyText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

/*Pinky Section */
.AboutPinky {
	position: relative;
	top:-139px;
	height: 850px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Pinky img {
	position: relative;
	top: 50px;
	left: 50%;
	width: 40%;
}

.PinkyStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 20%;
	top: 20%;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.PinkyHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.PinkyText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

/*Inky Section */
.AboutInky {
	position: relative;
	top:-139px;
	height: 850px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Inky img {
	position: relative;
	top: 50px;
	left: 10%;
	width: 40%;
}

.InkyStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 60%;
	top: 20%;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.InkyHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.InkyText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

/*Clyde Section */
.AboutClyde {
	position: relative;
	top:-139px;
	height: 850px;
	
	background-image: url("image/homebaggrund.png");
	background-size: cover;
	
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.Clyde img{
	position: relative;
	top: 50px;
	left: 50%;
	width: 40%;
}

.ClydeStory {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 20%;
	top: 20%;

	background: #FE8D00;
	border: 6px solid #000000;
	box-shadow: 11px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.ClydeHeader {
	position: absolute;
	width: 470px;
	height: 92px;
	left: 120px;
	top: -40px;

	font-family: PacMan;
	font-style: normal;
	font-weight: 400;
	font-size: 71px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #FED800;
	text-shadow: 6px 5px 0px #2D0057;
	-webkit-text-stroke: 3px black; /* Stroke width and color */
}

.ClydeText {
	position: relative;
	top: 100px;
	margin: 30px;
	text-align: justify;
	font-family: tektur;
	font-size: 20px;
}

/*Back top top Button */
.back-to-top {
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	background-color: #ffcc00; 
  	color: white;
  	padding: 10px 20px;
  	border-radius: 5px;
  	font-size: 16px;
	font-family: Tektur;
  	text-decoration: none;
  	display: none;
  	transition: opacity 0.3s;
}

.back-to-top:hover {
	background-color: #ff9900; /* Hover effect */
}

/*Pac-mMan & Friends Footer*/
.Aboutfooter {
	
	position: relative;
	width: 100%;
	height: 240px;
	top: -140px;
	
	background: #FF0000;
	
}

.Aboutbandai img {
	
	position: relative;
	top: 20px;
	left: 42%;
	width: 20%;
}

.Aboutevolution img {
	
	position: relative;
	top: 30px;
	left: 44%;
	width: 17%;
}

/*Play Pac-Man*/
.play {
	overflow-x: hidden;
}

.PlayPacman {
	position: relative;
	top: -139px;
	height:1100px;
	
	background-color: black;
	background-size: cover;
	z-index: -1;
	
	border-bottom: 20px solid #FED800;
}

.PlayPicture img {
	position: relative;
	width: 40%;
	top: 5%;
	left: 32%;
}

.PlayButton {
	position: absolute;
	width: 15%;
	height: 60px;
	top: 120px;
	left: 44%;
	
	text-align: center;
	
	background: black;
	border-style: double;
	border-color: #1818B5;
	border-width: 10px;
	box-shadow: 0 0 20px #4C4CFF, 0 0 40px #4C4CFF, 0 0 60px #4C4CFF;
}

.PlayButton a:link {
  	position: relative;
	font-family: Pacman;
	font-size: 30px;
	color: yellow;
	text-align: center;
	top: 10px;
	left: 10px;
	text-decoration: none;
}

.PlayButton a:visited {
  	position: relative;
	font-family: Pacman;
	font-size: 30px;
	color: yellow;
	text-align: center;
	top: 10px;
	left: 10px;
	text-decoration: none;
}

.PlayButton a:hover {
	text-shadow: 0 0 10px #FFA500, 0 0 20px #FF8C00, 0 0 30px #FF4500;
}

.play {
	height: 100px;
}







